.register{
    direction: rtl;
    background-color: transparent !important;
    border-radius: 0 !important;
    border-color: rgb(109, 108, 108) !important;
    color: rgb(194, 194, 194) !important;
}

.selectEducation option{
    color: white;
    background-color: rgb(109, 108, 108);
    font-size: 15px;
}
